<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#!/admin">Administrador Coffe Shop</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="{{active_home}}"><a href="#!/admin">Home</a></li>
        <li> 
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tienda <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#!/addStore">Crear Tienda</a></li>
            <li><a href="#!/showStores">Consultar Tiendas</a></li>
          </ul>
        </li>
          <li><a ng-click="logOut()">Log Out</a></li>
      </ul>
    </div>
  </nav>